  <aside class="bg-primary">
      <div class="container text-center">
          <div class="call-to-action">
          <a href="cta.if.ufrgs.br/welcome" class="btn btn-default btn-xl page-scroll">Acesse a capa antiga do site</a>
          </div>
      </div>
  </aside>
