<section class="bg-primary" >
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="#principios" class="btn btn-default btn-xl page-scroll">Acesse a capa antiga do site</a>
            </div>
        </div>
    </div>
</section>
