<section id="canais">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Nossos principais canais</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-git-square wow bounceIn text-primary"></i>
                    <h3>Repositórios git</h3>
                    <p class="text-muted">Muitos dos nossos projetos são mantidos em repositórios git. O CTA conta com uma <a href="https://git.cta.if.ufrgs.br/explore/projects">instalação do GitLab!</a></p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-lightbulb-o wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Gestão de projetos</h3>
                    <p class="text-muted">Utilizamos o Chiliproject para organizar os projetos do CTA. Cada projeto tem Wiki, Fórum, Tarefas, Arquivos, entre outros. Veja <a href="http://cta.if.ufrgs.br/projects">a lista de projetos.</a></p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-group wow bounceIn text-primary" data-wow-delay=".5s"></i>
                    <h3>Foruns</h3>
                    <p class="text-muted"><a href="/projects/suporte-cta/boards">Fóruns</a> para discussões e registros das atividades. Destaque para os registros dos nossos <a href="/projects/suporte-cta/boards/7">encontros semanais</a> e dos <a href="/projects/suporte-cta/wiki/Projetos_ativos">encontros temáticos.</a></p>
                </div>
            </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 text-center">
              <div class="service-box">
                  <i class="fa fa-4x  fa-comments-o wow bounceIn text-primary"></i>
                  <h3>Listas de discussão</h3>
                  <p class="text-muted">Também utilizamos listas de discussões por e-mail. <a href="http://cta.if.ufrgs.br/projects/suporte-cta/wiki/Perguntas_Frequentes#Como-participar-das-listas-de-e-mails-do-CTA">Conheça nossas listas.</a></p>
              </div>
          </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                   <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".3s"></i>
                   <h3>Notícias</h3>
                   <p class="text-muted">Anuncios de eventos e atividades de destaque do CTA aparecem <a href="http://cta.if.ufrgs.br/news">aqui.</a> Você também pode assinar o <a href="http://cta.if.ufrgs.br/news.atom">feed RSS de notícias.</a></p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
              <div class="service-box">
                <i class="fa fa-4x fa-angellist wow bounceIn text-primary" data-wow-delay=".5s"></i>
                <h3>Eventos</h3>
                <p class="text-muted">Frequentemente conduzimos oficinas, cursos e participamos de eventos de ensino, ciência e tecnologia. Confira a nossa <a href="http://cta.if.ufrgs.br/projects/suporte-cta/wiki/Eventos">página de eventos.</a></p>
             </div>
          </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-lg-offset-4 text-center">
              <div class="service-box">
                <i class="fa fa-4x fa-question wow bounceIn text-primary" data-wow-delay=".3s"></i>
                <h3>Perguntas Frequentes</h3>
                <p class="text-muted">Está com alguma dúvida? Veja nossa lista de <a href="http://cta.if.ufrgs.br/projects/suporte-cta/wiki/Perguntas_Frequentes">perguntas frequentes.</a></p>
              </div>
            </div>
        </div>
    </div>
</section>
