<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Entre em contato!</h2>
                <hr class="primary">
                <p>Quer conversar? Entre em contato pelo nosso fórum, pela nossa lista de discussão ou apareça para tomar um café!</p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="http://cta.if.ufrgs.br/projects/suporte-cta/boards">
                <i class="fa fa-group fa-3x wow bounceIn" data-wow-delay=".3s"></i>
                <p>Fóruns de Suporte CTA</p>
            </a>
            <p>Ei... os projetos podem ter fóruns separados. Fique atente!</p>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="http://cta.if.ufrgs.br/projects/suporte-cta/wiki/Perguntas_Frequentes#Como-participar-das-listas-de-e-mails-do-CTA">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".2s"></i>
                <p>Listas de e-mail</p>
            </a>
                <p>Se está recém chegando e quer saber mais, se cadastre na <a href="http://grupos.ufrgs.br/mailman/listinfo/fis_cta_adm-l">lista geral do CTA - [cta_adm-l]</a> e dê um alô.</p>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="http://osm.org/go/M5uNbFBbB?layers=N&m=">
            <i class="fa fa-coffee fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>Apareça no CTA para um café</p>
            </a>
            <p>O CTA fica no Instituto de Física da UFRGS, na sala 110 do Prédio 43132 (Prédio L), Campus do Vale da UFRGS.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <i class="fa fa-3x fa-phone wow bounceIn text-primary" data-wow-delay=".3s"></i>
            <p>(51) 3308 6553</p>
        </div>
    </div>
</section>
