<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Centro de Tecnologia Acadêmica</h1>
            <hr>
            <h3>Novos paradigmas da criação, uso e disseminação do conhecimento.</h3>
            <p><i class="fa fa-4x fa-unlock wow bounceIn text-primary" data-wow-delay=".3s"></i></p>
            <a href="#sobre" class="btn btn-primary btn-xl page-scroll">Saiba mais</a>
        </div>
    </div>
</header>
