<section class="bg-primary" id="sobre">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Liberdade do conhecimento!</h2>
                <hr class="light">
                <p class="text-faded">O Centro de Tecnologia Acadêmica do Instituto de Física da UFRGS busca desenvolver e aplicar todas as formas de conhecimento livre e aberto. Tem atuado no desenvolvimento de instrumentos científicos educacionais utilizando o conceito de hiperobjetos. Faz isso utilizando software livre e disponibilizando toda a sua criação em repositório público sob os termos de licenças permissivas. </p>
                <a href="#principios" class="btn btn-default btn-xl page-scroll">Mais sobre o CTA</a>
                <a href="#projetos" class="btn btn-default btn-xl page-scroll">Conheça Alguns Projetos!</a>
            </div>
        </div>
    </div>
</section>
