<section id="principios">
    <div class="container">
        <center><img src="img/LogoCTA_2015_500px.png" class="img-responsive" alt=""></center>
        <p></p>
        <div class="row">
            <div class="col-lg-12 text-center">
                <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                <h2 class="section-heading">Nossos princípios</h2>
                <hr class="primary">
                <p class="text-muted">Fazemos o que fazemos pois acreditamos que podemos melhorar o mundo refletindo sobre e ampliando o acesso ao conhecimento científico, tecnológico e educacional. Para saber mais sobre o que nos move, leia o artigo <a href="http://www.if.ufrgs.br/~pezzi/CA2015/index.html">O Centro de Tecnologia Acadêmica: princípios e perspectivas.</a></p>
                <a href="#projetos" class="btn btn-primary btn-xl page-scroll">Agora me mostre uns projetos!</a>
            </div>
        </div>
    </div>
</section>
