<section class="no-padding" id="projetos">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="http://cta.if.ufrgs.br/projects/estacao-meteorologica-modular/wiki/Wiki" class="portfolio-box">
                    <center><img src="img/projetos/emm.png" class="img-responsive" alt=""></center>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <i class="fa fa-flask fa-2x wow bounceIn" data-wow-delay=".2s"></i>
                            <div class="project-category text-faded">
                                Ciência Cidadã
                            </div>
                            <div class="project-name">
                                Estações Meteorológicas Modulares
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="http://cta.if.ufrgs.br/projects/bancada-dos-hiperobjetos/wiki" class="portfolio-box">
                    <center><img src="img/projetos/jb.jpg" class="img-responsive" alt=""></center>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <i class="fa fa-cogs fa-2x wow bounceIn" data-wow-delay=".2s"></i>
                            <div class="project-category text-faded">
                                Infraestrutura pra expansão do conhecimento
                            </div>
                            <div class="project-name">
                                A Bancada dos Hiperobjetos
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="http://cta.if.ufrgs.br/projects/estacao-de-espectrometria/wiki/Wiki" class="portfolio-box">
                    <center><img src="img/projetos/espectrometria.jpg" class="img-responsive" alt=""></center>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <i class="fa fa-flask fa-2x wow bounceIn" data-wow-delay=".2s"></i>
                            <div class="project-category text-faded">
                                Instrumentação científica
                            </div>
                            <div class="project-name">
                                Estação de espectrometria
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="http://cta.if.ufrgs.br/projects/shield-galileu-e-aplicacoes/wiki/Wiki" class="portfolio-box">
                    <center><img src="img/projetos/galileu.jpg" class="img-responsive" alt=""></center>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <i class="fa fa-book fa-2x wow bounceIn" data-wow-delay=".2s"></i>
                            <div class="project-category text-faded">
                                Instrumentação de ensino
                            </div>
                            <div class="project-name">
                                Shield Galileu
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="http://cta.if.ufrgs.br/projects/shield-ai/wiki/Wiki" class="portfolio-box">
                    <center><img src="img/projetos/AI.png" class="img-responsive" alt=""></center>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <i class="fa fa-flask fa-2x wow bounceIn" data-wow-delay=".2s"></i>
                          <i class="fa fa-book fa-2x wow bounceIn" data-wow-delay=".2s"></i>
                            <div class="project-category text-faded">
                                Instrumentação científica e de ensino
                            </div>
                            <div class="project-name">
                                Shield Amplificador de Instrumentação
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="http://cta.if.ufrgs.br/projects/fisiolog/wiki/Wiki" class="portfolio-box">
                    <center><img src="img/projetos/fisiolog.png" class="img-responsive" alt=""></center>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <i class="fa fa-heartbeat fa-2x wow bounceIn" data-wow-delay=".5s"></i>
                            <div class="project-category text-faded">
                                Instrumentação Biomédica
                            </div>
                            <div class="project-name">
                                Estação Fisiolog
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="http://cta.if.ufrgs.br/projects/tropos/wiki/Wiki" class="portfolio-box">
                    <center><img src="img/projetos/tropos.png" class="img-responsive" alt=""></center>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <i class="fa fa-linux fa-2x wow bounceIn" data-wow-delay=".2s"></i>
                            <div class="project-category text-faded">
                                Infraestrutura
                            </div>
                            <div class="project-name">
                                TropOS - O Sistema Operacional Portátil
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <a href="http://cta.if.ufrgs.br/projects" class="btn btn-default btn-xl wow tada">Lista completa de projetos</a>
            </div>
        </div>
    </aside>

</section>
