<!DOCTYPE html>
<html lang="pt-br">

{% include head.html %}

<body id="page-top">
  {% include nav.html %}
  {% include header.html %}
  {% include liberdade.html %}
  {% include principios.html %}
  {% include projetos.html %}
  {% include canais.html %}
  {% include contato.html %}
  {% include scripts.html %}
</body>

</html>
